<div class="jumbotron jumbotron-fluid">
    <div class="conteiner">
        <h1><b>Acesso Negado</b></h1>
        <p class="lead">Você não tem autorização para acessar essa página.</p>
        <li class="nav-link">
            <a class="nav-link navbar-text" asp-area="" asp-controller="Home" asp-action="Index">Voltar a página inicial</a>
        </li>
    </div>
</div>