<br />
<img src="~/images/admin.jpg" alt="Área de Administração"
     width="200" height="200" asp-append-version=true />
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Esta é a área do Administrador</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Voltar a Pagína Inicial</a>
</div>