@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindos</h1>
    <br/>
    <img src ="~/images/alunos.jpg" alt="alunos"
        width="600" height="600" asp-append-version=true />  
</div>
